<launch>
    <node pkg="rviz" type="rviz" name="empty_rviz" args="-d $(find reconcycle_description)/rviz/empty_config.rviz"/>
    <node name="world_to_base_table" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0 0 0 0 world base_table 100"/>
    <node name="base_table_node" pkg="vision_ros_integration" type="base_table.py"/>
</launch>